/* Sistemare regole su quadrato non più esistente */





/* inizio general */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: #1a1f26;
    }

    .flex{
        display: flex;
    }

    .flex_column{
        flex-direction: column;
    }

    .position_relative{
        position: relative;
    }

    .position_absolute{
        position: absolute;
    }

    .position_fixed{
        position: fixed;
    }
/* fine general */

/* inizio aside */
    aside{
        background-color: black;
        width: 200px;
        height: calc(100vh - 80px);
        flex-direction: column;
        justify-content: space-between;
        color: #808080;
    }

    .superiore{
        /* background-color: red; */
        width: 100%;
        height: 500px; /*provvisorio*/
    }

        .superiore .home{
            border-left: solid 3px #9eff52;
        }
        
        .superiore li{
            align-items: center;
            margin: 8px 0px;
            list-style: none;
            padding-left: 20px;
        }

        .superiore li > img{
            width: 40px;
            filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(93%) contrast(88%);
        }

        .superiore li a > i{
            font-size: 50px;
            padding-right: 10px;
        }

        .superiore a{
            color: #808080;
            text-decoration: none;
            align-items: center;
        }

        .superiore .playlist > div{
            color: #fff;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 20px;
        }

    .inferiore{
        /* background-color: blue; */
        width: 100%;
        height: 60px; /*provvisorio*/
        align-items: 50px;
        align-items: center;
        align-items: flex-start;
        padding: 0px 20px;
    }

        .inferiore img{
            width: 15px;
            filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(145deg) brightness(93%) contrast(88%);
            margin-right: 10px;
        }

        .inferiore .prima_riga{
            border-bottom: 1px solid #808080;
            padding: 0px 0px 10px 0px;
        }

        .inferiore .seconda_riga{
            padding: 10px 0px 0px 0px;
            color: #fff
        }

            .seconda_riga img{
                filter: none;
                background-color: #808080;
                border-radius: 50%;
            }

/* fine aside */

/* inizio banner */
    .banner{
        top: 0px;
        right: 0px;
        justify-content: flex-end;
        align-items: center;
        z-index: 10;
        width: calc(100% - 200px);
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .btn_banner{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid white;
        margin-top: 10px;
        margin-right: 20px;
        border-radius: 50px;
        padding: 10px 30px;
      
    }
/* fine banner */

/* inizio main */
    main{
        top: 0px;
        right: 0px;
        width: calc(100% - 200px);
        height: calc(100vh - 80px);
        overflow-y: scroll;
    }

    .menu{
        width: 100%;
        margin-top: 10vh;
        justify-content: center;
        color: grey;
        font-size: 25px;
        text-align: center;
    }

        .menu li:first-child{
            padding: 5px 0px;
            border-bottom: solid 3px #9eff52;
        }
        .menu ul{
            list-style: none;
            text-transform: uppercase;
        }

        .menu li{
            display: inline;
            font-size: 15px;
            margin: 0px 10px;
            
        }

    .recenti, .creati, .popolari{
        margin: 10px 0px;
    }

    .contenuto .macroarea{
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        margin: 20px 10px;
    }

    .contenuto .sotto_macroarea{
        color: #808080;
        font-size: 15px;
        margin-top: 10px;
    }

    .contenuto .album{
        text-align: center;
        color: #fff;
        font-weight: bold;
    }
        
    .album .titolo{
        margin: 10px;
        width: 150px;
    }

    .album .sottotitolo{
        color: #808080;
        width: 150px;
    } 

    .contenuto img{
        width: 150px;
        margin-left: 10px;
    }

    .contenuto img.rotondo{
        border-radius: 50%;
    }
/* fine main */

/* inizio footer */
    .footer{
        z-index: 999;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #2c2c2c;
        justify-content: space-between;
    }

        .footer .left{
            height: 100%;
            color: #808080;
            align-items: center;
            margin-left: 10px;
        }

        .footer .canzone{
            align-items: center;
        }

            .canzone .titolo{
                margin-left: 10px;
            }

            .titolo h5:first-child{
                color: #fff;
            }

        .left .feedback{
            margin-left: 50px;
        }

            .feedback i{
                margin-right: 10px;
            }
        
        .footer .canzone img{
            width: 40px;
            height: 40px;
        }

        .footer .main{
            height: 100%;
            color: #fff;
            align-items: center;
        }

        .footer .pulsanti{
            align-items: center;
        }

        .footer .pulsanti i{
            padding: 10px 20px;
            font-size: 15px;
        }

        .footer .pulsanti i:nth-child(3){
            font-size: 30px;
        }

        .main .timeline{
            align-items: center;
        }
        
        .barra.player{
            width: 300px;
            height: 5px;
            background-color: #808080;
            border-radius: 10px;
            margin: 0px 10px;
        }

        .livello.player{
            width: 80px;
            height: 5px;
            background-color: #fff;
            border-radius: 10px;
        }
        
        .footer .right{
            height: 100%;
            align-items: center;
            color: #fff;
            margin-right: 10px;
        }

        .footer .right i{
            padding: 0px 10px;
        }   

        .barra.volume{
            width: 50px;
            height: 5px;
            background-color: #808080;
            border-radius: 10px;
        }

        .livello.volume{
            width: 30px;
            height: 5px;
            background-color: #fff;
            border-radius: 10px;
        }
/* fine footer */


/* inizio responsive */
    @media only screen and (min-width: 768px) and (max-width:992px){
        .menu{
            flex-wrap: wrap;
        }

        .album_recenti{
            flex-wrap: wrap;
        }
     
    }

    @media only screen and (min-width: 576px) and (max-width:768px){
        .menu{
            flex-wrap: wrap;
        }

        .album_recenti{
            flex-wrap: wrap;
        }

    }

    @media only screen and (max-width:576px){
        aside{
            width: 50px; /*provvisorio*/
        }

            aside .superiore .logo{
                display: none;
                /*aggiungere logo piccolo spotify */
            }

            aside .superiore nav ul span{
                display: none;
            }

            aside .superiore .playlist{
                display: none;
            }

            aside .inferiore span{
                display: none;
            }

        .banner{
            width: calc(100% - 50px);
        }

        main{
            width: calc(100% - 50px);
        }

        .menu{
            flex-wrap: wrap;
        }

        .album_recenti{
            flex-wrap: wrap;
        }

    }
/* fine responsive */